{% extends 'base.html' %}

{%block title%}Admin_Home{%endblock%}

{% block content %}
<h2>Edición de posts</h2>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {%for post in posts %}
        <tr>
            <td>{{post[3]}}</td>
            <td>{{post[2]}}</td>
            <td>{{post[1]}}</td>
            <td><a href="/editar/{{post[0]}}">Editar</a> <a href="">Borrar</a> </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}